bcplus.d/data/materials.rnc

default namespace = "https://fractalqb.de/ed/materials/2.4"

start =
  element material-sources {
    element material {
      attribute cat { xsd:NCName },
      attribute commonness { xsd:integer },
      attribute jname { xsd:NCName },
      element source {
        attribute short { xsd:NCName },
        element desc {
          attribute lang { xsd:NCName }?,
          text
        }+
      }+
    }
  }
